
  
  h1 {
    color: black;
    text-align: center;
  }
  h2 {
    text-align: center;
    color: whitesmoke;
  }
  
  p {
    font-family: verdana;
    font-size: px 14;
    color: beige;
    text-align: "justify";
  }

  nav ol li {
    display: inline-block;
    margin-right: 1em;
    font-size: 0.9em;
    text-align: center;
  }

  /* .center {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  } */
  figure {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  body {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	background-color: olive;
	font-size: 12;